<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="header">
            <h5 class="title">Commande en cours...</h5>
          </div>
          <div class="content" style="height: 170px;font-size: 25px;line-height: 100px;text-align: center;">
              {{ (sumPrestation?.length > 0) ? sumPrestation[0]?.value : ''}}
          </div>
          <div class="border footer">
            <div class="stats"><i class="fa fa-history"></i></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="header">
            <h5 class="title">Type de portage</h5>
          </div>
          <div class="content text-center" style="display: block; height: 170px; position: relative;">
            <canvas baseChart style=""
              [chartType]="'doughnut'"
              [datasets]="chart.datasets"
              [colors]="chart.colors"
              [options]="chart.options"
              [labels]="chart.labels"
              [legend]="true">
            </canvas>
          </div>
          <div class="border footer">
            <div class="stats"><i class="fa fa-history"></i></div>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="card">
          <div class="header">
            <h5 class="title">Evolution budget portage annuel</h5>
          </div>
          <div class="content">
            <div style="transform: rotate(-30deg); width: 60%; text-align: center; height: 104px; font-size: 20px;
            padding-top: 50px;
            text-transform: uppercase;">
              Prochainement
            </div>
            <br>
            <br>
          </div>
          <div class="border footer">
            <div class="stats"><i class="fa fa-history"></i></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="header">
            <h5 class="title">Commande en cours...</h5>
          </div>
          <div class="content">
            <ngx-datatable
              #dataTable
              class="light striped"
              [rows]="rows"
              [messages]="tableMessages"
              [loadingIndicator]="loadingIndicator"
              [columnMode]="'force'"
              [headerHeight]="40"
              [footerHeight]="40"
              [rowHeight]="40"
              [limit]="limit"
              [sorts]="[{prop: 'mEndDate', dir: 'asc'}]">
              <ngx-datatable-column name="" [maxWidth]="60">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="text-center">
                    <button (click)="getOrderDetail(row.pieceNumber)" title="Voir" class=" btn btn-info text-center"><i
                      class="pe-7s-look"></i>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="pieceNumber" name="N° commande" [width]="90">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.pieceNumber}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="establishmentName" name="Etablissements" [width]="160">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.establishmentName}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="operationnel" name="Opérationnels" [width]="130">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.operationnel }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="fullNameContractor" name="Intervenant" [width]="240">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div *ngIf="row.docDetails[0]" >{{row.docDetails[0].fullNameContractor | uppercase}}</div>
                  <div
                    *ngIf="row.docDetails[1] && row.docDetails[1].idContractor !== row.docDetails[0].idContractor">
                    - {{row.docDetails[1].fullNameContractor |
                    uppercase}}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="ctNum" name="Statut" [width]="180">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div>{{ getStatus(row.ctNum) | uppercase}}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="provider" name="Fournisseurs" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div>{{row.provider}}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="pieceDate" name="Date commande" headerClass="text-center" [width]="100"
                                    [sortable]="true">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="text-center">{{row.pieceDate | date: 'dd/MM/yyyy'}}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="totalHT" name="Montant HT" [width]="95" headerClass="text-center">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="text-center">{{row.totalHT | currency:'EUR':true}}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="active" name="ETAT" [maxWidth]="55" [sortable]="true">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div *ngIf="row.active === true; else elseBlock" class="text-center">
                    <i class="fa fa-circle text-success" title="En cours"></i>
                  </div>
                  <ng-template #elseBlock>
                    <div class="text-center">
                      <i class="fa fa-circle text-muted" title="Terminé"></i>
                    </div>
                  </ng-template>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>

            <div class="text-right">
                <!-- Parent text-right and inline-block of child ensures right alignment -->
                <div style="display: inline-block;">
                    <!-- Use flexbox to align icon + label -->
                    <button class="btn btn-fill btn-xs" style="display: flex; padding: 4px 8px"
                            [class.hidden]="!rows" [disabled]="!rows" (click)="exportAsCSV()">
                        <i class="pe-7s-download" style="font-size: 18px"></i>
                        <span> CSV</span>
                    </button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #ShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header ">
        <button type="button" class="close pull-right" (click)="hideModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-center">Commande N°{{row.pieceNumber}}</h4>
      </div>
      <div class="modal-body">
        <div class="row m-b-md">
          <div class="col-md-6">
            <h5>CLIENT : {{row.establishmentName}}</h5>
            <span>{{row.establishmentAddress?.streetLine}} - {{row.establishmentAddress?.cityName}}</span><br>
            <span>{{row.establishmentAddress?.cityCode}}
          - {{row.establishmentAddress?.country}}</span>
          </div>
        </div>
        <div class="v-timeline vertical-container" *ngFor="let docDetail of row.docDetails">
          <div class="vertical-timeline-block">
            <div class="vertical-timeline-content">
              <div class="row p-min-sm">
                <div class="col-md-8">
                  <div class="small-title" tooltip="{{docDetail.details}}" >{{docDetail.details | truncate : 80}}</div>
                </div>
                <div class="col-md-4">
                  <div class="pull-right">
                    <div class="vertical-date">Date de fin : {{docDetail.deliveryDate | date:
                      'dd/MM/yyyy'}}</div>
                    <div style="text-align: right; color: #FFA534;">{{docDetail.expireTime}}</div>
                  </div>
                </div>
              </div>
              <div class="row p-sm">
                <div class="col-md-12">
                  <hr>
                  <span class="pull-left">Intervenant :</span>
                  <span class="pull-right">{{docDetail.fullNameContractor}}</span>
                </div>
                <div class="col-md-12">
                  <hr>
                  <span class="pull-left">Statut :</span>
                  <span class="pull-right">{{ getStatus(row.ctNum) | uppercase}}</span>
                </div>
              </div>
              <div class="panel-footer" style="height: 24px;">
                <span class="pull-left">Montant HT : </span>
                <span class="pull-right">{{docDetail.amountHT  | currency:'EUR':true}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6 text-right"><h5>TOTAL HT : {{row.totalHT | currency:'EUR':true}}</h5></div>
        </div>
      </div>
    </div>
  </div>
</div>
