@import url('https://fonts.googleapis.com/css?family=Oswald');

button[type=submit], button[type=submit]:active,
button[type=submit][disabled]
    background: transparent
    border: 2px solid #ED1C24
    border-radius: 0
    transition: all 0.2s ease-out
    color: #ED1C24
    font-family: 'TradeGothic-Cn', 'Oswald', Helvetica, Arial, Heveltica Neue, sans-serif;
    font-size: 15px
    text-transform: uppercase

button[type=submit]:hover, button[type=submit]:focus
    background: #ED1C24
    color: white

form a
    color: #ED1C24
    font-family: 'TradeGothic-Cn', 'Oswald', Helvetica, Arial, Heveltica Neue, sans-serif;
    