#leftCol *, #rightCol * {
    /* display: none !important; */
    visibility: hidden;
    /* height: 0; */
}

#leftCol  .cadre,   #leftCol  .cadre *,
#rightCol .cadre,   #rightCol .cadre *,
#rightCol .cadre0,  #rightCol .cadre0 *,
#rightCol .cadre1,  #rightCol .cadre1 *,
#rightCol .cadre2,  #rightCol .cadre2 *,
#rightCol .pageTab, #rightCol .pageTab *,
#topBar {
    /* display: block !important; */
    visibility: visible;
    /* height: initial !important; */
}

#rightCol {
    margin-top: 0 !important;
}

/* For CSS rules end rendering detection */
body {
    border-bottom-color: rgba(0,173,239,0) !important;
}
