.pe-rotate-90
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1)
  -webkit-transform: rotate(90deg)
  -moz-transform: rotate(90deg)
  -ms-transform: rotate(90deg)
  -o-transform: rotate(90deg)
  transform: rotate(90deg)

.nav.navbar-nav .dropdown-menu
    border-radius: 4px
    border: 1px solid #E3E3E3
    font-size: 12px

.nav.navbar-nav .dropdown-menu li a i 
  font-size: 18px
  margin-right: 8px
  vertical-align: text-top
