<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-minimize">
      <button id="minimizeSidebar" (click)="setClass(true)" class="btn btn-info btn-fill btn-round btn-icon">
        <i class="fa fa-ellipsis-v visible-on-sidebar-regular"></i>
        <i class="fa fa-navicon visible-on-sidebar-mini"></i>
      </button>
    </div>
    <div class="navbar-header">
      <button type="button" (click)="setRightClass(true)" class="navbar-toggle" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand" href="#">{{getTitle()}}</span>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <!--<span class="notification">2</span>-->
            <p class="hidden-md hidden-lg">
              Notifications
              <b class="caret"></b>
            </p>
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let notification of notifications">  
              <a routerLink="{{ notification.target }}">
                <i class="{{ notification.icon }}"></i>
                <span [innerHtml]="notification.title"></span>
              </a>
            </li>
            <hr class="">
            <footer class="text-right">
                <a routerLink="/notifications" class="small pad-xs">voir l'historique</a>
            </footer>
          </ul>
        </li>
        <li>
          <a href="" (click)="logOut()">
            <i class="pe-7s-upload pe-rotate-90"></i>
          </a>
        </li>
        <li class="dropdown dropdown-with-icons">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-list"></i>
            <p class="hidden-md hidden-lg">
              Plus
              <b class="caret"></b>
            </p>
          </a>
          <ul class="dropdown-menu dropdown-with-icons">
            <li [routerLinkActive]="['active']">
              <a [routerLink]="['/user-profile']">
                <i class="pe-7s-settings"></i> Parametre
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="" class="text-danger" (click)="logOut()"><i class="pe-7s-close-circle"></i>Déconnexion</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
