iframe 
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border: 0
    display: none   // overridden when CSS is done being injected
    transition: height 250ms cubic-bezier(0,1,0,1)

.switch-button i
    transform: scale(-1,1)
    font-size: 16px
    color: white
    vertical-align: top
    margin-left: 1px

.switch-button i.active
    font-weight: bold
    color: #00b4e5
    
.switch-button i.active:hover
    