<iframe 
    id="iframe" 
    #iframe 
    [style.height]="style?.height"
    [style.display]="style?.display"
    [src]="src"
    (load)="onLoad($event)"
    (error)="onError($event)">
    Votre navigateur ne supporte pas les iframes !
</iframe>

<!-- Debug only -->
<div *ngIf="env?.debug" 
    style="
        position: absolute; top: 0; left: 0; 
        background: black; color: white; 
        margin: 8px; padding: 2px 4px; border: 2px solid white; border-radius: 4px;
        opacity: 0.8;
        font-size: 12px;">
    <a (click)="toggleStatus()" style="font-weight: bold; cursor: pointer;">{{ getInternalStatus() }}</a> > {{ style?.display }} ({{ style?.height }})
     / autoresize : 
     <a (click)="toggleAutoresize()" class="switch-button" style="font-weight: bold; cursor: pointer;">
         <i class="fa" 
            [ngClass]="{'active'        : _timer.height, 
                       'fa-toggle-on'   : _timer.height && _timer.height !== -42,
                       'fa-times-circle': _timer.height === -42, 
                       'fa-toggle-off'  : !_timer.height}"></i>
    </a>
</div>

