.btn-default {
  border-color: #ccc;
}

.tab-content .choice {
  text-align: center;
  cursor: pointer;
  margin-top: 38px;
}

.tab-content .choice i {
  font-size: 32px;
  line-height: 55px;
}

.btn-radio {
  width: 100%;
}
.img-radio {
  opacity: 0.8;
  margin-bottom: 5px;
}

.space-20 {
  margin-top: 20px;
}

/* active buttons */
#status-buttons a.active span.round-tabs.one {
  background: #00b4e5;
  color: #fff
}

#status-buttons a.active span.round-tabs.two {
  background: #00b4e5;
  color: #fff
}

#status-buttons a.active span.round-tabs.three {
  background: #00b4e5;
  color: #fff
}

#status-buttons a.active span.round-tabs.four {
  background: #00b4e5;
  color: #fff
}


.iradio_buttons {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: #febe29 no-repeat;
  border: none;
  cursor: pointer;
}
.iradio_buttons {
  background-position: -120px 0;
}
.iradio_buttons.hover {
  background-position: -144px 0;
}
.iradio_buttons.checked {
  background-position: -168px 0;
}

.alert {
  padding: 8px;
  margin-bottom: 8px;
}

.ng-valid[required], .ng-valid.required  {
  /*border-left: 5px solid #42A948; !* green *!*/
}
.ng-invalid:not(form)  {
  /*border-left: 5px solid #a94442; !* red *!*/
}
.board{
  margin: 0 auto;
}
.board .nav-tabs {
  position: relative;
  margin: 4px 0;
  box-sizing: border-box;
  border: none;
}

.board > div.board-inner{
  background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);
  background-size: 30%;
}

p.narrow{
  width: 60%;
  margin: 10px auto;
}

.liner{
  height: 1px;
  background: #ddd;
  position: absolute;
  width: 70%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
}

span.round-tabs{
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  border-radius: 100px;
  background: white;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}

span.round-tabs.one{
  color: #00b4e5;
  border: 2px solid #00b4e5;
}

li.active span.round-tabs.one{
  background: #fff !important;
  border: 2px solid #ddd;
  color: rgb(34, 194, 34);
}

span.round-tabs.two{
  color: #00b4e5;
  border: 2px solid #00b4e5;
}

li.active span.round-tabs.two{
  background: #fff !important;
  border: 2px solid #ddd;
  color: #febe29;
}

span.round-tabs.three{
  color: #00b4e5;
  border: 2px solid #00b4e5;
}

li.active span.round-tabs.three{
  background: #fff !important;
  border: 2px solid #ddd;
  color: #3e5e9a;
}

span.round-tabs.four{
  color: #00b4e5;
  border: 2px solid #00b4e5;
}

li.active span.round-tabs.four{
  background: #fff !important;
  border: 2px solid #ddd;
  color: #23CCEF;
}

span.round-tabs.five{
  color: #999;border: 2px solid #999;
}

li.active span.round-tabs.five{
  background: #fff !important;
  border: 2px solid #ddd;
  color: #999;
}

.nav-tabs > li.active > a span.round-tabs{
  background: #fafafa;
}
.nav-tabs > li {
  width: 25%;
}
.nav-tabs > li:after {
  content: " ";
  position: absolute;
  left: 45%;
  opacity:0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  transition:0.1s ease-in-out;
}
.nav-tabs > li.active:after {
  content: " ";
  position: absolute;
  left: 45%;
  opacity:1;
  margin: 0 auto;
  bottom: 0;
  border: 10px solid transparent;
  border-bottom-color: #ddd;
}
.nav-tabs > li a{
  width: 50px;
  height: 50px;
  margin: 10px auto;
  border-radius: 100%;
  padding: 0;
}

.nav-tabs > li a:hover{
  background: transparent;
}

.tab-content .tab-pane{
  position: relative;
}
.tab-content .head{
  font-size: 18px;
  text-transform: uppercase;
}
.btn-outline-rounded{
  padding: 10px 40px;
  margin: 10px 0;
  border-radius: 25px;
}

.btn.green{
  background-color:#5cb85c;
  color: #ffffff;
}
a.disabled {
  pointer-events: none;
  cursor:default;
}
@media( max-width : 585px ){

  .board {
    width: 90%;
    height:auto !important;
  }
  span.round-tabs {
    font-size:16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .tab-content .head{
    font-size:20px;
  }
  .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height:50px;
  }

  .nav-tabs > li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }

  .btn-outline-rounded {
    padding:12px 20px;
  }
}
