<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
    </nav>
    <p class="copyright pull-right">
      &copy; {{years | date: 'yyyy'}} <a href="#">Groupe Freelance</a>
    </p>
  </div>
</footer>
