@import url('https://fonts.googleapis.com/css?family=Lobster')

.community a p
    font-family: 'Lobster', cursive
    font-size: 16px
    text-transform: none

// Does NOT work when span is injected through [innerHTML]
// .community a p span.label
//     font-family: inherit
//     text-transform: none

.badge-new a p:after
    content: 'new'
    font-family: 'Roboto'
    text-transform: uppercase
    font-size: 9px
    margin-left: 10px
    background: #ef0a0a
    border-radius: 4px
    padding: 4px

.border-bottom
    border-bottom: 2px solid rgba(199, 199, 199, 0.45)
    margin-bottom: 7px
    padding-bottom: 7px

.size-2
    font-size: 2.5em

.mts
    margin-top: 10px

.size-25 [class^="pe-7s-"], [class*=" pe-7s-"]
    font-size: 2.5em

agm-map
  height: 600px

li a
    cursor: pointer


.btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle
    background-color: #0069d9
    background-image: none
    border-color: #0062cc
    color: white

span i
    font-size: 2.5em

.big-icon
    font-size: 2.5em

.largemodal
    width: 768px
