<div class="logo">
    <a [routerLink]="['/']" class="logo-text" title="Logo">
        <div class="logoSvg">
            <img src="../../../assets/img/logo_admissions-2.png" width="208" alt="AD'Missions">
        </div>
    </a>
</div>
<div class="logo logo-mini">
    <a [routerLink]="['/']" class="logo-text" title="Logo Mini">
        <div class="logoSvg">
            <img src="../../../assets/img/freelanceBulleBlancheSigleTransparent.png" height="45" width="45" alt="Freelance">
        </div>
    </a>
</div>

<div class="sidebar-wrapper">
    <div class="user">
        <div class="photo">
            <a [routerLink]="['/user-profile']" title="User Profil link">
                <img src="{{filePath}}/{{currentUser._id}}/{{currentUser.profile_avatar}}" onError="this.src='../../../assets/img/face-0.jpg';" />
            </a>
        </div>
        <div class="info">
            <a data-toggle="collapse" href="#collapseUser" class="collapsed" title="Welcome message Link">
        Bienvenue {{currentUser.firstName}}
      </a>
            <span class="text-muted m-0">{{currentUser.jobTitle}}</span>
            <!--<div class="collapse" id="collapseUser">-->
            <!--<ul class="nav">-->
            <!--<li [routerLinkActive]="['active']" ><a [routerLink]="['/user-profile']">Parametre</a></li>-->
            <!--<li><a href="" (click)="logOut()">Déconnexion</a></li>-->
            <!--</ul>-->
            <!--</div>-->
        </div>
    </div>

    <ul class="nav">
        <li *ngFor="let menuItem of menuItems; let i = index" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="{{ menuItem?.class }}">
                <a *ngIf="menuItem.btnGroup === undefined" [routerLink]="[menuItem.path]" title="{{menuItem.title}}">
                    <i class="{{menuItem.icon}}"></i>
                    <p [innerHTML]="menuItem.title | safe:'html'"></p>
                </a>
                <a *ngIf="menuItem.btnGroup !== undefined" (click)="openModal(modal, i)" title="{{menuItem.title}}">
                    <i class="{{menuItem.icon}}"></i>
                    <p [innerHTML]="menuItem.title | safe:'html'"></p>
                </a>
        </li>
        <li>
            <a (click)="openMap(stats)" title="Ouvrir carte">
                <i class="pe-7s-graph2"></i>
                <p>Statistiques</p>
            </a>
        </li>
    </ul>
</div>

<ng-template #modal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{globalModal}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngFor="let group of this.datasModal">
            <div *ngIf="group.btns.length > 1">
                <p class="text-center">{{group.title}}</p>
                <div class="btn-group btn-group-justified border-bottom" role="group" aria-label="...">
                    <div *ngFor="let btn of group.btns" class="btn-group" role="group">
                        <button [routerLink]="[btn.route]" (click)="modalRef.hide()" type="button" class="btn btn-primary" popover="{{btn.popover}}" triggers="mouseenter:mouseleave"><span [innerHtml]="btn.print" class="size-25"></span></button>
                    </div>
                </div>
            </div>
            <div *ngIf="group.btns.length === 1">
                <button [routerLink]="[group.btns[0].route]" type="button" class="btn btn-primary btn-lg btn-block mts" (click)="modalRef.hide()">{{group.btns[0].print}}</button>
            </div>
        </div>

    </div>
</ng-template>

<ng-template #stats>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Map</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <tabset [justified]="true">
          <tab heading="Statistiques">
              <div class="btn-group btn-group-justified">
                  <label class="btn btn-primary" [(ngModel)]="mapChoice" btnRadio="1" checked>Statistiques Régionales</label>
                  <label class="btn btn-primary" [(ngModel)]="mapChoice" btnRadio="2">Compte Rendu Business</label>
              </div>
              <agm-map [latitude]="47.027638" [longitude]="1" [zoom]="6" [disableDoubleClickZoom]="true" [scrollwheel]="false" [zoomControl]="false">
                  <agm-marker (markerClick)="map('Paris'); modalRef.hide()" [iconUrl]='img.paris' [title]="Paris" [latitude]="48.85661" [longitude]="2.35222"></agm-marker>
                  <agm-marker (markerClick)="map('Bordeaux'); modalRef.hide()" [iconUrl]='img.bordeaux' [latitude]="44.837789" [label]="B" [longitude]="-0.5791799999999512"></agm-marker>
                  <agm-marker (markerClick)="map('Lille'); modalRef.hide()" [iconUrl]='img.lille' [latitude]="50.62924999999999" [label]="L" [longitude]="3.057256000000052"></agm-marker>
                  <agm-marker (markerClick)="map('Lyon'); modalRef.hide()" [iconUrl]='img.lyon' [latitude]="45.764043" [label]="L" [longitude]="4.835658999999964"></agm-marker>
                  <agm-marker (markerClick)="map('Nantes'); modalRef.hide()" [iconUrl]='img.nantes' [latitude]="47.218371" [longitude]="-1.553621000000021"></agm-marker>
                  <agm-marker (markerClick)="map('Rennes'); modalRef.hide()" [iconUrl]='img.rennes' [latitude]="48.117266" [longitude]="-1.6777925999999752"></agm-marker>
                  <agm-marker (markerClick)="map('Alsace-Lorraine'); modalRef.hide()" [iconUrl]='img.alsacelorraine' [latitude]="48.6114567" [longitude]="5.1432274"></agm-marker>
                  <agm-marker (markerClick)="map('Occitanie'); modalRef.hide()" [iconUrl]='img.occitanie' [latitude]="43.8927232" [longitude]="3.28276249999999"></agm-marker>
                  <agm-marker (markerClick)="map('Nice'); modalRef.hide()" [iconUrl]='img.nice' [latitude]="43.7101728" [longitude]="7.261953199999994"></agm-marker>
                  <agm-marker (markerClick)="map('Grenoble'); modalRef.hide()" [iconUrl]='img.grenoble' [latitude]="45.188529" [longitude]="5.724523999999974"></agm-marker>
                  <agm-marker (markerClick)="map('Clermont-Ferrand'); modalRef.hide()" [iconUrl]='img.clermontferrand' [latitude]="45.77722199999999" [longitude]="3.0870250000000397"></agm-marker>
                  <agm-marker (markerClick)="map('Saint-Nazaire'); modalRef.hide()" [iconUrl]='img.saintnazaire' [latitude]="47.2734979" [longitude]="-3.3"></agm-marker>
                  <agm-marker (markerClick)="map('Roche-Sur-Yon'); modalRef.hide()" [iconUrl]='img.rochesuryon' [latitude]="46.670511" [longitude]="-1.4264419999999518"></agm-marker>
                  <agm-marker (markerClick)="map('Normandie'); modalRef.hide()" [iconUrl]='img.normandie' [latitude]="48.87987039999999" [longitude]="0.17125290000001314"></agm-marker>
                  <agm-marker (markerClick)="map('Lorraine'); modalRef.hide()" [iconUrl]='img.lorraine' [latitude]="48.9744233" [longitude]="6.2080932000000075"></agm-marker>
                  <agm-marker (markerClick)="map('Marseille'); modalRef.hide()" [iconUrl]='img.marseille' [latitude]="43.296482" [longitude]="5.369779999999992"></agm-marker>
              </agm-map>
              <button *ngIf="mapChoice == 1" type="button" [routerLink]="['statistiques/globales']" (click)="modalRef.hide()" class="btn btn-primary btn-lg btn-block">Statistiques Globales</button>
              <button *ngIf="mapChoice == 2" type="button" [routerLink]="['statistiques/compterendu/region/global']" (click)="modalRef.hide()" class="btn btn-primary btn-lg btn-block">Compte Rendu Business Global</button>
          </tab>
          <tab heading="Autres Outils Stats">
              <button type="button" class="btn btn-primary btn-lg btn-block" (click)="modalRef.hide()" [routerLink]="['statistiques/consultants']">Consultants</button>
              <button type="button" class="btn btn-primary btn-lg btn-block" (click)="modalRef.hide()" [routerLink]="['statistiques/comparaison']">Comparaison CA</button>
              <button type="button" class="btn btn-primary btn-lg btn-block" (click)="modalRef.hide()" [routerLink]="['statistiques/rrh']">Statistiques par C.R.H.</button>
              <button type="button" class="btn btn-primary btn-lg btn-block" (click)="modalRef.hide()" [routerLink]="['statistiques/structures']">Statistique par Structure</button>
              <button type="button" class="btn btn-primary btn-lg btn-block" (click)="modalRef.hide()" [routerLink]="['requeteur/index']">Requeteur SQL</button>
          </tab>
        </tabset>

    </div>
</ng-template>
