<div class="wrapper">
  <div class="sidebar" data-color="red">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(../../assets/img/full-bg-image-2.jpg)"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<app-fab #fab dir="top">
  <app-fab-toggle>
    <i class="pe-7s-menu" style="font-size: 35px; line-height: 54px;"></i>
  </app-fab-toggle>

  <!-- Page Outils -->
  <app-fab-button *ngIf="router.url == '/dashboard'" (onClick)="createPurchaseOrder()">
    <span class="fab-tip btn-floating">Tableau de bord</span><i class="pe-7s-news-paper"></i>
  </app-fab-button>

  <!-- <app-fab-button><span class="fab-tip btn-floating">Simulation</span><i class="pe-7s-user"></i></app-fab-button> -->

</app-fab>
<div bsModal #ShownModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" (click)="hideModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-center">Faire une demande de Portage</h4>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="requestPortage(f)" novalidate>
          <div class="tab-pane fade in active">
            <div class='row'>
              <div class='col-xs-12 col-sm-12'>
                <div class="row">
                  <div class='col-xs-12 col-sm-12'>
                    <div class="form-group">
                      <label class="control-label" for="title">Titre de la mission</label>
                      <input class="form-control" #isValidTitle="ngModel" id="title" name="title" type="text" minlength="5" placeholder="Titre de la mission" [(ngModel)]="formData.title" autocomplete="off" required>
                      <div *ngIf="isValidTitle.hasError('required') && isValidTitle.touched" class="alert alert-danger">
                        Ce champs est obligatoire.
                      </div>
                      <div *ngIf="isValidTitle.hasError('minlength') && isValidTitle.touched" class="alert alert-danger">Le titre de la mission doit contenir au minimum 6 caractères.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class='col-xs-12 col-sm-6'>
                    <div class="form-group">
                      <label class="control-label" for="startDate">Date de début</label>
                      <div class='input-group'>
                        <span class="input-group-addon"><i class="pe-7s-date"></i></span>
                        <input class="form-control" ngui-datetime-picker id="startDate" name="startDate" #isValidStartDate="ngModel" [(ngModel)]="formData.startDate" required date-only="true" date-only="true" date-format="MM-DD-YYYY" autocomplete="off" [min-date]="minStartDate">
                      </div>
                      <div *ngIf="isValidStartDate.hasError('required') && isValidStartDate.touched" class="alert alert-danger">
                        Merci d'indique une date de debut de la mission
                      </div>
                    </div>
                  </div>
                  <div class='col-xs-12 col-sm-6'>
                    <div class="form-group">
                      <label class="control-label" for="endDate">Date de fin</label>
                      <div class='input-group'>
                        <span class="input-group-addon"><i class="pe-7s-date"></i></span>
                        <input class="form-control" id="endDate" name="endDate" [min-date]="minStartDate" #isValidEndDate="ngModel" [(ngModel)]="formData.endDate" required ngui-datetime-picker date-only="true" date-format="MM-DD-YYYY" autocomplete="off">
                      </div>
                      <div *ngIf="isValidEndDate.hasError('required') && isValidEndDate.touched" class="alert alert-danger">
                        Merci d'indique une date de fin de la mission
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class='col-xs-12 col-sm-12'>
                    <div class="form-group">
                      <label class="control-label" for="skills">Domaine d'expertise</label>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="pe-7s-ticket"></i></span>
                        <input class="form-control" #isValidSkills="ngModel" id="skills" name="skills" type="text" placeholder="Domaine d'expertise" [(ngModel)]="formData.skills" required>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class='col-xs-12 col-sm-6'>
                    <div class="form-group">
                      <label class="control-label" for="place">Lieu</label>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="pe-7s-map-marker"></i></span>
                        <input class="form-control" #isValidPlace="ngModel" id="place" name="place" type="text" autocomplete="off" placeholder="Lieu de la mission" [(ngModel)]="formData.place" required>
                      </div>
                    </div>
                  </div>
                  <div class='col-xs-12 col-sm-6'>
                    <div class="form-group" style="margin-top: 16px;">
                      <div class="radio col-sm-6" *ngFor="let location of locations">
                        <input type="radio" id="{{location.value}}" name="location" [(ngModel)]="formData.location" [value]="location.value" checked="" class="form-control">
                        <label for="{{location.value}}" class="radio-text">{{location.display}}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group" style="margin-top: 16px;">
                      <div class="radio col-sm-4" *ngFor="let rate of rates">
                        <input type="radio" id="{{rate.value}}" name="rate" [(ngModel)]="formData.rate" [value]="rate.value" checked="" class="form-control">
                        <label for="{{rate.value}}" class="radio-text">{{rate.display}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6" *ngIf="formData.rate !== false">
                    <div class="form-group">
                      <label class="control-label" for="globalPrice">Montant global</label>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="pe-7s-cash"></i></span>
                        <input class="form-control" #globalPrice="ngModel" id="globalPrice" name="globalPrice" type="text" placeholder="30 000" [(ngModel)]="formData.globalPrice" autocomplete="off" required>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-4" *ngIf="formData.rate === false">
                    <div class="form-group">
                      <label class="control-label" for="daysPrice">Taux journalier</label>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="pe-7s-cash"></i></span>
                        <input class="form-control" #daysPrice="ngModel" id="daysPrice" name="daysPrice" type="text" placeholder="600" [(ngModel)]="formData.daysPrice" autocomplete="off" required>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-2" *ngIf="formData.rate === false">
                    <div class="form-group">
                      <label class="control-label" for="nDays">Durée(jours)</label>
                      <input class="form-control" #nDays="ngModel" id="nDays" name="nDays" type="number" min="1" placeholder="10" [(ngModel)]="formData.nDays" autocomplete="off" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class='col-xs-12 col-sm-6'>
                    <div class="form-group">
                      <label class="control-label" for="firstName">Prénom de l'intervenant</label>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="pe-7s-id"></i></span>
                        <input class="form-control input-md" #isValidFirstName="ngModel" id="firstName" name="firstName" type="text" placeholder="Prénom" [(ngModel)]="formData.firstName" autocomplete="off" required>
                        <div *ngIf="isValidFirstName.hasError('required') && isValidFirstName.touched" class="alert alert-danger">Ce champ est obligatoire
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class='col-xs-12 col-sm-6'>
                    <div class="form-group">
                      <label class="control-label" for="lastName">Nom de l'intervenant</label>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="pe-7s-id"></i></span>
                        <input class="form-control input-md" #isValidLastname="ngModel" id="lastName" name="lastName" type="text" placeholder="Nom" [(ngModel)]="formData.lastName" autocomplete="off" required>
                        <div *ngIf="isValidLastname.hasError('required') && isValidLastname.touched" class="alert alert-danger">Ce champ est obligatoire
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class='col-xs-12 col-sm-6'>
                    <div class="form-group">
                      <label class="control-label" for="email">Email</label>
                      <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input class="form-control input-md" #isValidEmail="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" id="email" name="email" type="text" [(ngModel)]="formData.email" placeholder="p.dupont@test.com" autocomplete="off" required>
                        <div *ngIf="isValidEmail.hasError('required') && isValidEmail.touched" class="alert alert-danger">Ce champs email est obligatoire.
                        </div>
                        <div *ngIf="isValidEmail.hasError('pattern') && isValidEmail.touched" class="alert alert-danger">l'adresse email n'est pas valide
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class='col-xs-12 col-sm-6'>
                    <div class="form-group">
                      <label class="control-label" for="tel">Téléphone</label>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="pe-7s-call"></i></span>
                        <input class="form-control input-md" #email="ngModel" id="tel" name="tel" type="text" [(ngModel)]="formData.tel" placeholder="01 00 00 00 00" autocomplete="off" required>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group text-center p-sm">
                  <button class="btn btn-fill btn-info btn-wd" type="submit" [disabled]="f.invalid"> Envoyer
                    <span style="margin-left:10px;" class="pe-7s-angle-right"></span></button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
