/* You can add global styles to this file, and also import other style files */
@import "./assets/bootstrap-sass/_variables.scss"
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss'
@import '~@swimlane/ngx-datatable/release/index.css'
@import '~@swimlane/ngx-datatable/release/assets/icons.css'
@media (min-width: 992px)

  .typo-line
    padding-left: 140px
    margin-bottom: 40px
    position: relative
    .category
      transform: translateY(-50%)
      top: 50%
      left: 0px
      position: absolute

.all-icons
  [class^="pe-"]
    font-size: 40px
  input
    border: 0
  .font-icon-detail
    text-align: center
    padding: 45px 0px 30px
    border: 1px solid #e5e5e5
    border-radius: 6px
    margin: 15px 0
  .font-icon-container a
    padding: 5px 0
    display: block
    color: #666666
  .font-icon-detail input
    margin: 25px auto 0
    width: 100%
    text-align: center
    display: block
    color: #aaa
    font-size: 13px
  h5
    margin-top: 60px
  > div > .row:first-child h5
    margin-top: 15px

.places-buttons .btn
  margin-bottom: 30px

.buttons-with-margin .btn
  margin-bottom: 5px

.animated .img-rounded
  width: 150px
  height: 150px
  overflow: hidden
  margin: 0 auto
  display: block
  img
    width: 100%

.notify-message.notify
  background: #fff
  padding: 0
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2)
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2)
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2)
  border: none
  margin-top: 30px
  color: inherit

.notify.alert-warning
  border-left: 6px solid #ffb606

.notify.alert-success
  border-left: 6px solid #62cb31

.notify.alert-danger
  border-left: 6px solid #c0392b

.notify.alert-info
  border-left: 6px solid #3498db


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

input[type="number"]
  -moz-appearance: textfield

  // Table custom sass
.ngx-datatable.light
  box-shadow: none
  background: #FFFFFF
  border: none
  color: #333
  font-size: 12px

  .datatable-header
    font-variant: small-caps
    font-size: 13px
    background: #F0F0F0
    text-transform: uppercase
    color: #6a6c6f

    .datatable-header-cell
      text-align: left
      font-weight: 500
      padding: 1rem 1.2rem
      border: 1px solid #eaeaea

      .datatable-header-cell .datatable-header-cell-label
        line-height: 24px
  .datatable-body
    background: #FFFFFF

    .datatable-body-row
      border-top: 1px solid #eaeaea

      .datatable-body-cell
        text-align: left
        padding: 1rem 1.2rem
        vertical-align: top
        border: 1px solid #eaeaea

        .btn
          border: none
          background-color: transparent
          font-weight: 400
          opacity: 0.8
          filter: alpha(opacity=80)
          padding: 0 12px

      :hover
        background: #F5F5F5
        transition-property: background
        transition-duration: .3s
        transition-timing-function: linear

      :focus
        background-color: #F5F5F5

      .active
        color: #6a6c6f

      .fa.fa-circle
        font-size: 16px

  &.striped .datatable-row-odd
      background: #F5F5F5
  .datatable-footer
    background: #FFFFFF
    color: #6a6c6f
    border-top: 1px solid #eaeaea
    .page-count
      line-height: 50px
      height: 50px
      padding: 0 1.2rem

    .datatable-pager
      margin: 0 10px
      vertical-align: top
      ul li
        margin: 10px 0
        &:not(.disabled).active > a,
        &:not(.disabled):hover > a
          background-color: #dddddd

        a
          height: 22px
          min-width: 24px
          line-height: 22px
          padding: 0
          border-radius: 3px
          margin: 0 3px
          text-align: center
          text-decoration: none
          vertical-align: bottom
          color: #6a6c6f

      .icon-left,
      .icon-skip,
      .icon-right,
      .icon-prev
        font-size: 18px
        line-height: 27px
        padding: 0 3px
  .empty-row
    text-align: center

// Ngx chart Sass

.advanced-pie-legend-wrapper
  display: inline-block
  width: 190px!important

.advanced-pie
  margin-right: 20px

.advanced-pie-legend
  .total-label
    font-size: 20px!important
    margin-bottom: 10px!important
    text-transform: uppercase

  .total-value
    font-size: 25px!important

.pie
  margin-right: 10px

.ngx-charts
  float: none!important

.tree-map
  .treemap-val
    font-size: 2em!important
    padding-top: 5px
    display: inline-block
  .label p .treemap-label
    font-size: 18px


.fab-menu
  position: absolute
  bottom: 17%
  right: 2%
  z-index: 1000

  box-sizing: border-box
  font-size: 20px
  text-align: left

  .fab-item
    background: #00b4e5
    border-radius: 100%
    width: 55px
    height: 55px
    margin-left: -55px
    position: absolute
    top: 20px
    color: white
    text-align: center
    line-height: 55px
    transform: translate3d(0, 0, 0)
    transition: transform ease-out 200ms


  .fab-item
    transition-duration: 180ms
    cursor: pointer

  .fab-item:hover, .fab-item:hover .fab-tip
    background: white
    color: #00b4e5

  .fab-toggle
    background: #00b4e5
    border-radius: 100%
    width: 55px
    height: 55px
    margin-left: -55px
    position: absolute
    top: 20px
    color: white
    text-align: center
    line-height: 55px
    transform: translate3d(0, 0, 0)
    transition: transform ease-out 200ms
    z-index: 2
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275)
    transition-duration: 400ms
    transform: scale(1.1, 1.1) translate3d(0, 0, 0)
    cursor: pointer

  .fab-toggle:hover
    transform: scale(1.2, 1.2) translate3d(0, 0, 0)

  .fab-item
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1)

  &.active .fab-toggle
    transition-timing-function: linear
    transition-duration: 200ms
    transform: scale(0.8, 0.8) translate3d(0, 0, 0)

.fab-tip
    position: absolute
    right: 44px
    font-size: 14px
    padding: 0px 0.5rem
    border-radius: 2px
    color: #FFFFFF
    width: 180px
    background: #00b4e5
    text-transform: uppercase
    display: none
    line-height: 35px
    text-align: center
    top: 10px

.fab-tip:hover
    background: #FFFFFF
    color: #00b4e5

/* Tag field custom */
.bootstrap.ng2-tag-input[_ngcontent-c8]
  border-bottom: none!important

.bootstrap[_ngcontent-c8] tag[_ngcontent-c8]
  border-radius: 0.25rem
  background: #fff!important
  border: solid 1px #e4e5e7!important
  color: #6a6c6f!important

.bootstrap[_nghost-c13] path[_ngcontent-c13], .bootstrap [_nghost-c13] path[_ngcontent-c13]
  fill: #6a6c6f!important

.bootstrap.ng2-tag-input.ng2-tag-input--focused[_ngcontent-c8]
    border-bottom: none!important

.ng2-menu-item[_ngcontent-c12]
    background: #fff
    color: rgba(0, 0, 0, 0.87)
    cursor: pointer
    font-size: 0.9em
    font-weight: 400
    letter-spacing: 0.03em
    height: 30px!important
    line-height: 22px!important

.ng2-menu-item--selected[_ngcontent-c12]
    background: rgba(158, 158, 158, 0.2)!important


.pac-container
  background-color: #fff
  position: absolute!important
  z-index: 100000!important
  border-radius: 2px
  border-top: 1px solid #d9d9d9
  font-family: Arial,sans-serif
  box-shadow: 0 2px 6px rgba(0,0,0,0.3)
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box
  overflow: hidden

.pac-container:after
  /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */
  background-image: none !important
  height: 0!important

.btn_active
  background-color: #34495e!important

.ng2-datetime-picker
    width: 100%

.datetime-picker
    width: 100% !important

.datetime-picker
    width: 100%

.ngui-datetime-picker .days .weekend
    color: #ccc
    background: none !important

.ngui-datetime-picker .days .day.selected
  background: gray !important
  color: #fff

// tabs custom sass
  .nav-tabs > li
    width: 33%

.nav-justified.nav-tabs > li:after
    content: " "
    position: absolute
    left: 45%
    opacity: 0
    margin: 0 auto
    bottom: 0
    top: 4px !important
    border: 5px solid transparent
    transition: 0.1s ease-in-out

.nav-justified.nav-tabs > li.active:after
    content: " "
    position: absolute
    left: 45%
    opacity: 1
    margin: 0 auto
    bottom: 0
    top: 4px !important
    border: 10px solid transparent
    border-bottom-color: #00adef !important

.nav-justified.nav-tabs > li a
      width: auto!important
      height: auto!important
      margin: 10px auto!important
      color: #555555
      text-transform: uppercase
      padding: 0!important
      font-size: 13px
      line-height: 40px !important
      border-top: none!important

.nav-justified.nav-tabs > li a.active
    border: 1px solid #eaeaea!important
    border-bottom: none!important


.nav-justified.nav-tabs > li.active > a, .nav-justified.nav-tabs > li.active > a:hover, .nav-justified.nav-tabs > li.active > a:focus
    color: #00b4e5 !important
    cursor: default
    border: 0

@media( max-width : 585px )
  .nav-justified.nav-tabs > li
    width: 100% !important

  .board
    width: 90%
    height: auto !important

  span.round-tabs
    font-size: 16px
    width: 50px
    height: 50px
    line-height: 50px

  .tab-content .head
    font-size: 20px

  .nav-justified.nav-tabs > li a
    width: 100%
    height: 100%
    line-height: 50px


  .nav-justified.nav-tabs > li.active:after
    content: " "
    position: absolute
    left: 45% !important

  .btn-outline-rounded
    padding: 12px 20px


.small-title
  font-size: 13px
  font-weight: 400
  text-transform: uppercase

.small-subtitle
  font-size: 11px
  font-weight: 400
  color: #C0C0C0

  .tooltip-inner
    background-color: #009688
    color: #fff

  .tooltip .tooltip-arrow
    border-bottom-color: #009688

//-----------
// PADDING
//-----------
@mixin padding($top, $right, $bottom, $left)
  padding-top: $top
  padding-right: $right
  padding-bottom: $bottom
  padding-left: $left

.pad-t-xs
  @include padding($padding-xs-vertical, null, null, null)
.pad-r-xs
  @include padding(null, $padding-xs-horizontal, null, null)
.pad-b-xs
  @include padding(null, null, $padding-xs-vertical, null)
.pad-l-xs
  @include padding(null, null, null, $padding-xs-horizontal)
.pad-xs
  @include padding($padding-xs-vertical, $padding-xs-horizontal, $padding-xs-vertical, $padding-xs-horizontal)

.pad-t-sm
  @include padding($padding-small-vertical, null, null, null)
.pad-r-sm
  @include padding(null, $padding-small-horizontal, null, null)
.pad-b-sm
  @include padding(null, null, $padding-small-vertical, null)
.pad-l-sm
  @include padding(null, null, null, $padding-small-horizontal)
.pad-sm
  @include padding($padding-small-vertical, $padding-small-horizontal, $padding-small-vertical, $padding-small-horizontal)

.pad-t-md
  @include padding($padding-base-vertical, null, null, null)
.pad-r-md
  @include padding(null, $padding-base-horizontal, null, null)
.pad-b-md
  @include padding(null, null, $padding-base-vertical, null)
.pad-l-md
  @include padding(null, null, null, $padding-base-horizontal)
.pad-md
  @include padding($padding-base-vertical, $padding-base-horizontal, $padding-base-vertical, $padding-base-horizontal)

.pad-t-lg, .pad-t-xl
  @include padding($padding-large-vertical, null, null, null)
.pad-r-lg, .pad-r-xl
  @include padding(null, $padding-large-horizontal, null, null)
.pad-b-lg, .pad-b-xl
  @include padding(null, null, $padding-large-vertical, null)
.pad-l-lg, .pad-l-xl
  @include padding(null, null, null, $padding-large-horizontal)
.pad-lg, .pad-xl
  @include padding($padding-large-vertical, $padding-large-horizontal, $padding-large-vertical, $padding-large-horizontal)


// TODO: Espace consultant
.iframe-container
    position: relative
    width: calc(100% - 30px)
    height: calc(100% - 65px)
    margin: 15px

.navbar .btn.btn-fill
  position: relative
  background-color: #ef0a0a  // RED AD'MISSIONS
  border-color: #ef0a0a  // RED AD'MISSIONS
.navbar .btn.btn-fill:hover,
.navbar .btn.btn-fill:focus
  background-color: #ef0a0a  // RED AD'MISSIONS
  border-color: #ef0a0a  // RED AD'MISSIONS
.navbar .btn.btn-fill:after
  content: ' '
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  border-radius: 50%
.navbar .btn.btn-fill:hover:after
  background: rgba(0, 0, 0, 0.15)
  border: rgba(0,0,0,0.1)

.navbar-default .navbar-header .navbar-brand
  color: #ef0a0a  // RED AD'MISSIONS
.navbar-default .navbar-header .navbar-brand:hover
  color: #ef0a0a  // RED AD'MISSIONS

.fab-menu .fab-toggle
  background-color: #ef0a0a  // RED AD'MISSIONS
.fab-menu .fab-item,
.fab-menu .fab-tip
  background-color: #ef0a0a  // RED AD'MISSIONS
.fab-menu .fab-item:hover,
.fab-menu .fab-item:hover .fab-tip
  background-color: white
  color: #ef0a0a  // RED AD'MISSIONS

.fab-menu .support .fab-item,
.fab-menu .support .fab-tip
  background-color: #aaa
.fab-menu .support .fab-item:hover,
.fab-menu .support .fab-item:hover .fab-tip
  background-color: white
  color: #aaa

.sidebar
  position: fixed !important
