<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-user">
          <div class="image">
            <img src="../../../assets/img/full-bg-image-2.jpg" alt="cover-galaxy"/>
          </div>
          <div class="content">
            <div class="author">
              <form (ngSubmit)="onUpload()">
                <img (click)="triggerFile()" class="avatar border-gray"
                     src="{{filePath}}/{{currentUser._id}}/{{currentUser.profile_avatar}}"
                     #profileImage onerror="this.src ='../../../assets/img/face-0.jpg'" alt="avatar"/>
                <input #fileInput name="profile_avatar" type="file" (change)="onFileSelect($event)" class="text-center">
                <i class="fa fa-edit p_edit" style="color: rgba(255, 255, 255, 0.5);"></i>
              </form>
              <h4 class="title">{{currentUser.firstName}} {{currentUser.lastName}}<br />
                <small>{{currentUser.jobTitle}}</small>
              </h4>
            </div>
          </div>
          <hr>
        </div>
        <div class="card">
          <div class="header">
            <h4 class="title">Etablissements</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table">
              <thead>
              <tr>
                <th>Dénomination</th>
                <th class="text-center">SIRET(siège)</th>
                <th class="text-center">Ville</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let establishment of establishments">
                <td>{{establishment?.businessName}}</td>
                <td class="text-center" >{{establishment?.siretNumber}}</td>
                <td class="text-center">
                  {{establishment.address?.cityName}}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="header">
            <h4 class="title">INFORMATIONS</h4>
          </div>
          <div class="content">
            <form #pForm="ngForm" (ngSubmit)="onSubmit(pForm)" novalidate>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Nom</label>
                    <input type="text" class="form-control" placeholder="Nom"
                           name="firstName"
                           [(ngModel)]="currentUser.firstName"
                           #firstName="ngModel" required>
                    <div *ngIf="firstName.errors?.required && firstName.touched" class="alert alert-danger">
                      Ce champ est obligatoire
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Prenom</label>
                    <input type="text" class="form-control" placeholder="Prenom"
                           name="lastName"
                           [(ngModel)]="currentUser.lastName"
                           #lastName="ngModel" required>
                    <div *ngIf="lastName.errors?.required && lastName.touched" class="alert alert-danger">
                      Ce champ est obligatoire
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" placeholder="Email"
                           disabled name="email"
                           [(ngModel)]="currentUser.email" #email="ngModel" required>
                    <div *ngIf="email.errors?.required && email.touched" class="alert alert-danger">
                      Ce champ est obligatoire
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Fonction</label>
                    <input type="text" class="form-control" placeholder="Fonction"
                           name="jobTitle"
                           [(ngModel)]="currentUser.jobTitle"
                           #jobTitle="ngModel" required>
                    <div *ngIf="jobTitle.errors?.required && jobTitle.touched" class="alert alert-danger">
                      Ce champ est obligatoire
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Rue</label>
                    <input type="text" class="form-control" placeholder="Rue/Avenue"
                           name="street"
                           [(ngModel)]="currentUser.address.street"
                           #street="ngModel">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Ville</label>
                    <input type="text" class="form-control" placeholder="Ville"
                           name="cityName"
                           [(ngModel)]="currentUser.address.cityName"
                           #cityName="ngModel">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Code postal</label>
                    <input type="text" class="form-control" placeholder="Code postal"    name="zipCode"
                           [(ngModel)]="currentUser.address.zipCode"
                           #zipCode="ngModel">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Pays</label>
                    <input type="text" class="form-control" placeholder="Pays"
                           name="country"
                           [(ngModel)]="currentUser.address.country"
                           #country="ngModel">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Secteur d'activité</label>
                    <textarea rows="5" class="form-control" placeholder="Secteur d'activité" name="activity"
                              [(ngModel)]="currentUser.activity"
                              #activity="ngModel"></textarea>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-info btn-fill pull-right" [disabled]="pForm.invalid">Sauvegarder
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
