.alert{
    border: 0;
    border-radius: 0;
    color: $default-color;
    padding: 10px 15px;
    font-size: 13px;

    .container &{
        border-radius: 4px;

    }
    .navbar &{
        border-radius: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 85px;
        width: 100%;
        z-index: 3;
    }
    .navbar:not(.navbar-transparent) &{
        top: 70px;
    }

    span[data-notify="icon"]{
        font-size: 30px;
        display: block;
        left: 15px;
        position: absolute;
        top: 50%;
        margin-top: -15px;
    }

    button.close{
        position: absolute;
        right: 0px!important;
        top: 50%;
        margin-top: -05px;
        z-index: 1033;
        background-color: #FFFFFF;
        display: block;
        border-radius: 50%;
        opacity: .4;
        line-height: 11px;
        width: 25px;
        height: 25px;
        outline: 0 !important;
        text-align: center;
        padding: 3px;
        font-weight: 300;

        &:hover{
            opacity: .55;
        }
    }

    .close ~ span{
        display: block;
        max-width: 89%;
    }

    &[data-notify="container"]{
        padding: 10px 10px 10px 20px;
        border-radius: $border-radius-base;
    }

    &.alert-with-icon{
        padding-left: 65px;
    }
}
.alert-info{
    background-color: $white-color;
    border-left: 6px solid  $azure-navbar;
}
.alert-success {
    background-color: $white-color;
    border-left: 6px solid $green-navbar;
}
.alert-warning {
    background-color: $white-color;
    border-left: 6px solid  $orange-navbar;
}
.alert-danger {
    background-color: $white-color;
    border-left: 6px solid $red-navbar;
}
.bg-info{
  color: $white-color;
  background-color: $azure-navbar;
}
.bg-success {
  color: $white-color;
  background-color: $green-navbar;
}
.bg-warning {
  color: $white-color;
  background-color: $orange-navbar;
}
.bg-danger {
  color: $white-color;
  background-color: $red-navbar;
}
