/*   Labels   */
.label{
    padding: 0.2em 0.6em 0.2em;
    border: 1px solid #999999;
    border-radius: 3px;
    color: #999999;
    background-color: #FFFFFF;
    font-weight: 500!important;
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 3px;
}
.label-primary{
    border-color: #3472F7;
    color: #3472F7;
}
.label-info{
    border-color: #2CA8FF;
    color: #2CA8FF;
}
.label-success{
    border-color: #05AE0E;
    color: #05AE0E;
}
.label-warning{
    border-color: #FF9500;
    color: #FF9500;
}
.label-danger{
    border-color: #FF3B30;
    color: #FF3B30;
}
.label.label-fill{
    color: #FFFFFF;
}
.label-primary.label-fill{
   background-color: #3472F7;
}
.label-info.label-fill{
    background-color: #2CA8FF;
}
.label-success.label-fill{
   background-color: #05AE0E;
}
.label-warning.label-fill{
   background-color: #FF9500;
}
.label-danger.label-fill{
   background-color: #FF3B30;
}
.label-default.label-fill{
   background-color: #999999;
}
.btn-box {
  width: 48px;
  height: 48px;
  padding: 0;
}
