/*     General overwrite     */
body,
.wrapper{
    min-height: 100vh;
    position: relative;
    font-size: 13px;
}

a{
  color: $info-color;

  &:hover, &:focus{
     color: $info-states-color;
     text-decoration: none;
  }
}

a:focus, a:active,
button::-moz-focus-inner,
input::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{
    outline:0;
}
.ui-slider-handle:focus,
.navbar-toggle,
input:focus {
    outline : 0 !important;
}

/*           Animations              */

.animation-transition-general{
    @include transition($general-transition-time, $transition-linear);
}

.animation-transition-fast{
    @include transition($fast-transition-time, $transition-linear);
}

.animation-transition-ultra-fast{
    @include transition($ultra-fast-transition-time, $transition-ease-in);
}

.form-control,
.input-group-addon,
.tagsinput,
.navbar .alert,
.panel-collapse.collapse-hover {
    @include transition($general-transition-time, $transition-linear);
}

.sidebar .nav a,
.table > tbody > tr .td-actions .btn,
.caret{
    @include transition($fast-transition-time, $transition-ease-in);
}

.btn{
    @include transition($ultra-fast-transition-time, $transition-ease-in);
}
.fa{
    width: 18px;
    text-align: center;
}
.margin-top{
    margin-top: 50px;
}

a[data-toggle="collapse"][aria-expanded="true"] .caret,
.btn[data-toggle="collapse"][aria-expanded="true"] .caret,
a.dropdown-toggle[aria-expanded="true"] .caret{
    @include rotate-180();
}

// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 10px 0 10px;
  small,
  .small {
    font-weight: normal;
    line-height: 1;
    display: block;
  }
}
ul li {
  list-style-type: none;
}
.text-center{
  text-align: center!important;
}
legend{
    font-size: $font-size-h4;
    font-weight: $font-weight-light;
}

.full-screen-map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
}

#loader{
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    @include transform-translate-y(-50%);
    text-align: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    top: 50%;
}
.p-sm {
  padding: 5px !important;
}
.p-min-sm {
  padding: 10px!important;
}
.m-b-md {
  margin-bottom: 10px;
}
.m-t-md {
  margin-top: 5px;
}
