.modal-header {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 10px;
    margin: 0 10px;
}
.modal-title{
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
}
.modal-content {
    border: 0 none;
    border-radius: 4px;
    box-shadow: none;
}
.modal-dialog {
    padding-top: 60px;
}
.modal-footer {
    border-top: 0 none;
    padding: 10px 10px;
}
.modal-footer .modal-footer .btn-default.btn-simple{
    font-weight: 400;
}

.modal.fade .modal-dialog {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
}
.modal.in .modal-dialog {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
}
.modal-small{
    .modal-dialog{
        max-width: 350px;
    }
}
.modal-small{
    .divider{
        margin: 0 auto;
        display: block;
        width: 14px;
        position: relative;
        margin-top: 40px;
        margin-bottom: 30px;
        font-size: $font-paragraph;
    }
    .divider:after{
        position: absolute;
        content: "";
        right: -140px;
        top: 12px;
        height: 1px;
        width: 115px;
        background-color: $light-gray;
    }
    .divider:before{
        position: absolute;
        content: "";
        left: -140px;
        top: 12px;
        height: 1px;
        width: 115px;
        background-color: $light-gray;
    }
    .modal-footer{
        text-align: center;
    }
}
.social-area{
    text-align: center;

    .btn-social{
        margin: 0 10px;
    }
}
.modal-backdrop.in {
    opacity: 0.5;
}

.vertical-container {
  width: 98%;
  margin: 0 auto;
}
.vertical-container::after {
  content: '';
  display: table;
  clear: both;
}
.v-timeline {
  position: relative;
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
.v-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #e8ebf0;
}
.vertical-timeline-content .btn {
  float: right;
}
.vertical-timeline-block {
  position: relative;
  margin: 2em 0;
}
.vertical-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.vertical-timeline-block:first-child {
  margin-top: 0;
}
.vertical-timeline-block:last-child {
  margin-bottom: 0;
}
.vertical-timeline-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 16px;
  border: 1px solid #e4e5e7;
  text-align: center;
  background: #fff;
}
.vertical-timeline-icon i {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -9px;
}
.vertical-timeline-content {
  position: relative;
  margin-left: 55px;
  background: white;
  border-radius: 0.25em;
  border: 1px solid #e4e5e7;
}
.vertical-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.vertical-timeline-content h2 {
  font-weight: 400;
  margin-top: 4px;
}
.vertical-timeline-content p {
  margin: 1em 0 0 0;
  line-height: 1.6;
}
.vertical-timeline-content .vertical-date {
  font-weight: 400;
  color: #6a6c6f;
  text-align: right;
  font-size: 13px;
}
.vertical-date small {
  color: #62cb31;
  font-weight: 400;
}
.vertical-timeline-content:after,
.vertical-timeline-content:before {
  right: 100%;
  top: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.panel-footer {
  padding: 2px 6px;
}
.vertical-timeline-content:after {
  border-color: transparent;
  border-right-color: #fff;
  border-width: 10px;
  margin-top: -10px;
}
.vertical-timeline-content:before {
  border-color: transparent;
  border-right-color: #e4e5e7;
  border-width: 11px;
  margin-top: -11px;
}
@media only screen and (min-width: 768px) {
  .vertical-timeline-content h2 {
    font-size: 18px;
  }
  .vertical-timeline-content p {
    font-size: 13px;
  }
}
